<header>
    <nav class="general-nav" [class.fixed]="fixedTop">
        <div class="container">
            <div class="inner">
                <a routerLink="">
                    <app-logo firstName="ALIPASHA" lastName=""></app-logo>
                </a>
                <ul class="links-wrapper desktop d-none d-lg-flex">
                    <li *ngFor="let item of menuData; let i = index" [style.animation-delay]="i*0.1+0.3+'s'">
                        <a [href]="'#'+item.name">{{item.name}}</a>
                    </li>
                </ul>
                <div class="right">
                    <a [href]="personalData?.cv" target="_blank" rel="noopener noreferrer" class="link-btn"
                        aria-label="Alipasha Askerov CV">CV</a>
                    <button class="theme-button" (click)="toggleTheme()" aria-label="Theme toggle button" type="button">
                        <i *ngIf="currentTheme === 'dark'" class="fa-solid fa-sun"></i>
                        <i *ngIf="currentTheme === 'light'" class="fa-solid fa-moon"></i>
                    </button>
                    <button class="menu-button d-lg-none" (click)="toggleMenu()" [class.active]="menuState !== 'closed'"
                        aria-label="Mobile Menu toggle button" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div class="mobile-menu d-lg-none" [class.active]="menuState==='half'" [class.full-height]="menuState==='full'"
        [class.hide]="menuState==='closed'" (touchstart)="onDragStart($event)" (touchmove)="onDragMove($event)"
        (touchend)="onDragEnd($event)">
        <div class="drag-indigator"></div>
        <div class="menu-inner">
            <div class="inner-top">
                <ul class="links-wrapper mobile">
                    <li *ngFor="let item of menuData; let i = index" [style.animation-delay]="i*0.1+0.3+'s'">
                        <a [href]="'#'+item.name" class="menu-link" (click)="toggleMenu()">{{item.name}}</a>
                    </li>
                </ul>
                <app-social-icons className="menu-icons" [menuOpen]="menuState !== 'closed'"></app-social-icons>

            </div>
            <div class="menu-footer">
                <div class="footer-row">
                    <a routerLink="">
                        <app-logo firstName="ALIPASHA" lastName="" color="#fff"></app-logo>
                    </a>
                    <div class="right">
                        <a [href]="personalData?.cv" target="_blank" rel="noopener noreferrer" class="link-btn"
                            aria-label="Alipasha Askerov CV">CV</a>
                        <button class="theme-button" (click)="toggleTheme();toggleMenu()"
                            aria-label="Theme toggle button" type="button">
                            <i *ngIf="currentTheme === 'dark'" class="fa-solid fa-sun"></i>
                            <i *ngIf="currentTheme === 'light'" class="fa-solid fa-moon"></i>
                        </button>
                    </div>
                </div>
                <ul class="versions">
                    <li>
                        <a href="">Next JS</a>
                    </li>
                    <li>
                        <a href="" class="active">Angular</a>
                    </li>
                    <li>
                        <a href="">Vue JS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>