@use '../../scss/utils' as *;
@use '../../scss/variables' as *;

.social-icons {
    &.fixed-icons {
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        @include flex(column, center, center);
        gap: 8px;

        li {
            opacity: 0;
            transform: scale(0);

            a {
                width: 35px;
                height: 35px;
                @include flex(row, center, center);
                background-color: $primary-color;
                border-radius: 20px;
                color: #fff;
                font-size: 16px;

                &:hover {
                    animation: pulsePrimary 1s ease infinite !important;
                }
            }

            &:nth-child(1) {
                animation: socialIconAnimation 0.5s ease 3.6s forwards;
            }

            &:nth-child(2) {
                animation: socialIconAnimation 0.5s ease 3.8s forwards;
            }

            &:nth-child(3) {
                animation: socialIconAnimation 0.5s ease 4.0s forwards;
            }

            &:nth-child(4) {
                animation: socialIconAnimation 0.5s ease 4.2s forwards;
            }
        }
    }

    &.menu-icons {
        @include flex(row, center, center);
        gap: 20px;

        li {
            opacity: 0;
            transform: scale(0);

            a {
                border-radius: 20px;
                font-size: 22px;
                color: #fff;
            }
        }

        &.menu-active {
            li {
                &:nth-child(1) {
                    animation: socialIconAnimation 0.5s ease 0.4s forwards;
                }

                &:nth-child(2) {
                    animation: socialIconAnimation 0.5s ease 0.6s forwards;
                }

                &:nth-child(3) {
                    animation: socialIconAnimation 0.5s ease 0.8s forwards;
                }

                &:nth-child(4) {
                    animation: socialIconAnimation 0.5s ease 1s forwards;
                }
            }
        }
    }
    &.about-icons{
        @include flex(row,center,center);
        gap: 10px;
        &:hover{
            a{
                opacity: 0.4;
            }
        }
        a{
            @include flex(row,center,center);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid $primary-color;
            color: $primary-color;
            position: relative;
            font-size: 18px;
            transition: all 0.3s;
            &:hover{
                background-color: $primary-color;
                color: #fff;
                opacity: 1 !important;
                animation: pulsePrimary 1s ease infinite
            }
        }
        
    }
}

@keyframes socialIconAnimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}