@use '../../scss/utils' as *;
@use '../../scss/variables' as *;

.page-404-section{
    padding: 40px 0;
    .content{
        width: 100%;
        @include flex(column,center,center);
        .error-code{
            font-size: 140px;
            font-family: $primary-font;
            color: $primary-color;
            font-weight: 900;
        }
        .title{
            font-family: $primary-font;
            text-align: center;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        a{
            @include flex(row,center,center);
            padding: 15px;
            background-color: $primary-color;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: $primary-font;
            border-radius: 10px;
            font-weight: 600;
            font-size: 24px;
        }
    }
}