@use '../../scss/utils' as *;
@use '../../scss/variables' as *;

.scroll-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 35px;
    height: 35px;
    @include flex(row, center, center);
    border-radius: 50%;
    background-color: $primary-color;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s;
    border: 1px solid light-dark($bg-color-light, $bg-color-dark);
    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
    &:hover{
        animation: pulsePrimary 1s ease infinite;
    }
}
@keyframes borderRotate{
    100%{
        transform: rotate(1turn);
    }
}